@charset "UTF-8";
/* CSS Document */

@media only screen and (min-width: 960px)  {
main {
	
	padding: 40px 10px;
	}
section {
			width: 31%;
			}

}

@media only screen and (min-width: 641px)  and (max-width: 959px){
    /* desktop */
	main {
	margin-left:-225;
	clear: none;
	padding: 20px 5px;
	}

	
	.header-max {
		margin:auto;
		max-width: 980px;
		width:100%
	}
	.main-max {
	max-width: 980px;
	margin: auto;
		}
	.breadcrumb {
		margin-left: 225px;
		}
	section {
		width: 96%;
		}
	aside {
		width: 64%;
	}
}


@media only screen and (max-width: 640px) {
    /* tablets, phones */
	
	.header-max {
		margin:auto;
		max-width: 640px;
		width:100%;	
		}		
	.main-max {
		max-width: 640px;
		margin:auto;
		}	
	.breadcrumb {
		margin: auto;
		}
	section {
		
		width:96%;
		}	
	aside{
		width: 96%
		}
				
}

@media only screen and (max-width: 400px) {
	
	header h1 {
		visibility: hidden;
		margin-top:-200px;
		}
	
	.header-max {
		margin:auto;
		max-width: 640px;
		width:100%;	
		}		
	.main-max {
		max-width: 640px;
		margin:auto;
		}	
	.breadcrumb {
		margin: auto;
		}
	section {
		width:96%;
		}	
	aside{
		width: 96%
		}
	
}